#inv_table1, #inv_th, #inv_td{
	border: 1px solid black;
  border-collapse: collapse;
  
border-style: none none solid none;
}
/*
 h1{
 	 font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; 
 }
 h1{
 	 background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 1em; padding: 0.5em 0; 
 }*/