
.PageHeading-sm
{
  font-size: 10px;
  font-family: verdana;
  color: #000; 
  text-align: left;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.PageHeading-md
{
  font-family: verdana;
  color: #000; 
  font-size: 12px;
  text-align: left;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.PageHeading-lg
{
  font-family: verdana;
  color: #000; 
  font-size: 13px;
  text-align: left;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.FieldLabels
{
  font-family: verdana;
  color: #000; 
  font-size: 10px;
  text-align: left;
  float: left;
}
.HyperLink-sm
{
  font-family: verdana;
  color: #000; 
  font-size: 10px;
  text-align: left;
  float: left;
  text-decoration: underline;
}
.HyperLink-md
{
  font-family: verdana;
  color: #000; 
  font-size: 16px;
  text-align: left;
  float: left;
  text-decoration: underline;
}
.ActionBtn-sm
{
  font-family: verdana;
  color: #000; 
  font-size: 10px;
  float: left;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  background: #fff;
  border-color: #000;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;

}
.ActionBtn-md
{
  font-family: verdana;
  color: #000; 
  font-size : 16px;
  float: left;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  background: #fff;
  border-color: #000;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.ActionBtn-lg
{
  font-family: verdana;
  color: #000; 
  font-size: 18px;
  float: left;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  background: #fff;
  border-color: #000;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.CancelBtn-sm
{
  font-family: verdana;
  color: #000; 
  font-size: 10px;
  float: left;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  background: #f00;
  border-color: #000;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.CancelBtn-md
{
  font-family: verdana;
  color: #000; 
  font-size: 16px;
  float: left;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  background: #f00;
  border-color: #000;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.CancelBtn-lg
{
  font-family: verdana;
  color: #000; 
  font-size: 18px;
  float: left;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  background: #f00;
  border-color: #000;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.SidebarActive
{
  background: #000;
  border-color: #000;
  border-radius: 5px;
  color: #000;
  height: 30px;
  width: 90px;
  font-family: verdana;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 600;
}
.SidebarInActive
{
  background: #000;
  border-color: #000;
  border-radius: 5px;
  color: #000;
  height: 30px;
  width: 90px;
  font-family: verdana;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 600;
}
.IconWithTitle
{
  background: #000;
  color: #000;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 5px;
  font-size: 10px;
}
.IconBtn
{
  text-align: left;
  font-size: 10px;
  padding:  5px;
  color: #000;
}
.TabBtnActive
{
  background: #000;
  border-color: #000;
  border-radius: 5px;
  color: #000;
  height: 30px;
  width: 90px;
  font-family: verdana;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  float: left;
}
.TabBtnInActive
{
  background: #000;
  border-color: #000;
  border-radius: 5px;
  color: #000;
  height: 30px;
  width: 90px;
  font-family: verdana;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  float: left;
}
.TableHeading
{
  font-family: verdana;
  font-size: 10px;
  color: #000;
  text-align: left;
  float: left;
  background: #000;
  padding: 5px;
  background: #000;
}
.TableContent
{
  font-family: verdana;
  font-size: 10px;
  color: #000;
  text-align: left;
  float: left;
  border: #000;
  padding: 5px;
}
.Table-Img
{
  height: 30px;
  width: 90px;
  float: left;
  border-radius: 5px;	
}
.PageFont
{
  font-family: verdana !important;
}